{% set defaultevent = {'type':"info", "message":""} %}
{% if admin_event is defined and admin_events is not defined %}
{% set admin_events = [admin_event] %}
{% endif %}
{% if admin_events is defined and admin_events|length > 0 %}
<div class="event-container">
    {% for event in admin_events %}
    {% set event = defaultevent|merge(event) %}
    {% if event["type"] == 'error' %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon blinking-icon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>

    {% elseif event['type'] == 'warning' %}
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>

    {% elseif event['type'] == 'success' %}
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
    {% else %}
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
    {% endif %}

        {{ event['message']|trans  }}
        <span class="close-alert glyphicon glyphicon-remove pull-right"></span>
    </div>
    {% endfor %}
</div>
{% endif %}