{% trans_default_domain 'locales' %}
{% if admin_profile_languages is not defined %}
    {% set admin_profile_languages = [] %}
{% endif %}
{% if current is not defined %}
    {% set current = '' %}
{% endif %}
<div class="languages">
    {% for language in admin_profile_languages %}
        <a href="{{ path('_admin_set_language', {locale: language}) }}" alt="{{ language|trans }}" title="{{ language|trans }}" class="flag flag-{{ language }} {% if language == current %}selected{% endif %}"></a>
    {% endfor %}
</div>