{% if left_menu_builder is defined %}
<div class="leftmenu">
    <div class="mainmenu">
            {% include 'RecognizeAdminThemeBundle::components/menufunctionality.html.twig' %}
    </div>
</div>
{% endif %}
