<div class="leftmenu">
    <div class="mainmenu">
        <ul>
            <li class="current first"><span><a href="/admin/design">Dashboard</a></span></li>

            <li class="last"><span data-toggle="collapse" data-target=".menu_level_1">Examples<i class="fa fa-caret-up"></i></span>
                <ul class="menu_level_1 collapse in">
                    <li class="first"><span><a href="/admin/f">Filemanager</a></span></li>
                    <li class=""><span><a href="/admin/f">Charts</a></span></li>
                    <li class="last"><span data-toggle="collapse" data-target=".menu_level_2">You want more examples?<i class="fa fa-caret-down"></i></span>
                        <ul class="menu_level_2 collapse">
                            <li class="first"><span><a href="/admin/f">MORE CHARTS</a></span></li>
                            <li class="last"><span><a href="/admin/f">MORE FORMS</a></span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>