{% if admin_profile_image is not defined %}
    {% set admin_profile_image = asset('admintheme/images/default-profile-image.png') %}
{% endif %}
<div class="profile-avatar">
    <img src="{{ admin_profile_image }}" style="width: 100%;" />
</div>
