<!--Top bar -->
<div class="topbar" style="z-index: 1000">
    <nav class="navbar navbar-inverse">
        <div class="visible-xs">
            <a class="hamburger-icon" role="button" aria-label="Toggle Navigation">
                <div class="lines"></div>
            </a>
        </div>
    </nav>
</div>
<!-- Hidden navbar for fluid positioning -->
<nav class="navbar" style="z-index: 0"></nav>