<!--Top bar -->
{% if admin_profile_languages is not defined %}
{% set admin_profile_languages = [] %}
{% endif %}
<div class="topbar" style="z-index: 1000">
    <nav class="navbar navbar-inverse">

        {% if leftmenu is defined %}
        <div class="pull-left">
            <div class="visible-xs-inline">
                <a class="hamburger-icon" role="button" aria-label="Toggle Navigation">
                    <div class="lines"></div>
                </a>
            </div>
        </div>
        {% endif %}

        <span class="brand-area xs-text-left">
            <img src="{{ asset('admintheme/images/logo.png') }}" class="brand-logo hidden-xxs" />
            <img src="{{ asset('admintheme/images/icon.png') }}" class="brand-icon visible-xxs" />
        </span>

        <div class="pull-right">
            {% include 'RecognizeAdminThemeBundle::components/profile.html.twig' %}
        </div>
    </nav>
</div>
<!-- Hidden navbar for fluid positioning -->
<nav class="navbar" style="z-index: 0"></nav>