<div class="col-md-3 col-xs-12">
    <div class="success">
        <label>Naam: </label>
        <input class="animated form-control" type="text" value="Kevin" />
    </div>

    <div class="">
        <label>Telefoon: </label>
        <input class="animated form-control" type="text" value="0545-008440" />
    </div>

    <div class="">
        <label>Aanhef:</label>
        <input class="animated form-control" type="text" value="Edelachtbare" />
    </div>

</div>

<div class="col-md-3 col-xs-12">
    <div class="error">
        <label>Achternaam: </label>
        <input class="animated form-control" type="text" value="te Raa" />
    </div>

    <div class="success">
        <label>Mobiel: </label>
        <input class="animated form-control required" type="text" value="06-09008440" />
    </div>

    <div class="success">
        <label>Wachtwoord:</label>
        <input class="animated form-control" type="password" value="Edelachtbare" />
    </div>

</div>

<div class="col-md-6 col-xs-12" style="padding-top: 10px;">
    <input class="animated btn btn-default form-control" type="submit" value="Verstuur" />
</div>