<div class="col-xs-12">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
                <th>Firstname</th>
                <th>Firstname</th>
                <th>Firstname</th>
                <th>Firstname</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Anna</td>
                <td>Anna</td>
                <td>Anna</td>
                <td>Anna</td>
                <td>Anna</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Debbie</td>
                <td>Debbie</td>
                <td>Debbie</td>
                <td>Debbie</td>
                <td>Debbie</td>
            </tr>
            <tr>
                <td>3</td>
                <td>John</td>
                <td>John</td>
                <td>John</td>
                <td>John</td>
                <td>John</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>