.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@-webkit-keyframes error-shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(-3px, 0, 0); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0); } }

@keyframes error-shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(-3px, 0, 0); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0); } }

.topbar {
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 10000;
  -webkit-transition: top 0.35s;
  -moz-transition: top 0.35s;
  -o-transition: top 0.35s;
  transition: top 0.35s; }
  .topbar nav {
    padding-right: 20px;
    background-color: #262626; }
  .topbar .brand-area {
    color: #FFFFFF;
    font-family: Verdana;
    float: left;
    padding-left: 10px; }
    .topbar .brand-area img {
      margin: 5px 0;
      height: 40px; }
  .topbar.animation-topbar-up {
    position: absolute; }

.topbar .profile .languages {
  padding: 0 5%; }
  .topbar .profile .languages a {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: inline-block;
    width: 32px;
    opacity: 0.5; }
    .topbar .profile .languages a:active {
      background-color: #262626; }
    .topbar .profile .languages a.selected {
      opacity: 1; }
    .topbar .profile .languages a:focus, .topbar .profile .languages a:hover {
      opacity: 1; }

.profile {
  -webkit-transition: width 0.35s, height 0.35s;
  -moz-transition: width 0.35s, height 0.35s;
  -o-transition: width 0.35s, height 0.35s;
  transition: width 0.35s, height 0.35s;
  padding: 10px 0 10px 0;
  right: 10px;
  position: absolute;
  display: block !important; }
  .profile .tabfocus:focus {
    outline: 2px auto #E74C3C !important; }
  .profile p {
    -webkit-transition: width 0.35s, height 0.35s;
    -moz-transition: width 0.35s, height 0.35s;
    -o-transition: width 0.35s, height 0.35s;
    transition: width 0.35s, height 0.35s;
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 10px;
    overflow: hidden;
    display: none; }
  .profile p.username {
    display: block;
    float: right;
    text-align: right; }
  .profile .avatar {
    -webkit-transition: width 0.35s, height 0.35s;
    -moz-transition: width 0.35s, height 0.35s;
    -o-transition: width 0.35s, height 0.35s;
    transition: width 0.35s, height 0.35s;
    display: inline-block;
    height: 30px;
    width: 30px;
    float: right;
    border: none; }
  .profile.big {
    top: 0px;
    width: 120px;
    background: #262626; }
    .profile.big .avatar {
      float: right;
      display: block;
      height: 70px;
      width: 70px;
      margin: 0 25px; }
    .profile.big p {
      display: block;
      width: 100px; }
    .profile.big p.username {
      display: none; }
    .profile.big .options {
      position: static;
      display: block;
      padding-bottom: 0; }
    .profile.big:hover .options {
      position: static;
      left: 0px;
      display: block; }
  .profile:hover {
    cursor: pointer; }
  .profile .options {
    width: 120px;
    background: #262626;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    display: none; }
    .profile .options li {
      list-style: none; }
      .profile .options li p {
        color: #FFFFFF; }
      .profile .options li a {
        display: block;
        width: 100%;
        padding: 5px 10px;
        color: #FFFFFF;
        text-decoration: none; }
        .profile .options li a:focus, .profile .options li a:active {
          background-color: #E74C3C;
          border: 0px solid #000000;
          outline: 0px; }
      .profile .options li i {
        color: #FFFFFF;
        position: relative;
        top: 3px;
        float: right; }
      .profile .options li.no-hover-style:hover {
        background: #262626; }
      .profile .options li:focus, .profile .options li:hover {
        background: #E74C3C; }
      .profile .options li.divider {
        padding: 0;
        height: 1px;
        overflow: hidden;
        background-color: #444444; }

@media (min-width: 768px) {
  .leftmenu {
    float: left;
    position: relative;
    width: 250px;
    height: 100%; }
    .leftmenu .mainmenu {
      width: 250px;
      left: 0px;
      position: fixed;
      height: 100%; }
  .content-area .content {
    float: left;
    padding: 0px 0px 10px 250px;
    width: 100%; }
  .content-area:after {
    content: "";
    clear: both;
    visibility: hidden;
    display: block;
    font-size: 0;
    height: 0; } }

.mainmenu {
  -webkit-transition: left 0.35s;
  -moz-transition: left 0.35s;
  -o-transition: left 0.35s;
  transition: left 0.35s;
  overflow-y: scroll;
  -ms-overflow-style: none;
  background: #262626;
  width: 250px;
  left: -250px;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  z-index: 1000; }
  .mainmenu::-webkit-scrollbar {
    width: 0 !important; }
  .mainmenu.open {
    left: 0px; }
  .mainmenu ul {
    list-style: none;
    padding: 0;
    background: #262626; }
    .mainmenu ul li {
      display: block;
      color: #FFFFFF;
      font-size: 14px;
      background: #262626; }
      .mainmenu ul li ul {
        border-bottom: #666 1px solid; }
        .mainmenu ul li ul li {
          background: #101010; }
          .mainmenu ul li ul li.first {
            -moz-box-shadow: 0px 3px 3px 0px #000000 inset;
            -webkit-box-shadow: 0px 3px 3px 0px #000000 inset;
            box-shadow: 0px 3px 3px 0px #000000 inset; }
            .mainmenu ul li ul li.first span:hover {
              -moz-box-shadow: 0px 3px 3px 0px #000000 inset;
              -webkit-box-shadow: 0px 3px 3px 0px #000000 inset;
              box-shadow: 0px 3px 3px 0px #000000 inset; }
          .mainmenu ul li ul li span {
            border-bottom: 1px solid #262626; }
      .mainmenu ul li i {
        position: absolute;
        right: 10px;
        font-size: 25px;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -ms-transform: rotate(0deg) !important;
        /* IE 9 */
        -webkit-transform: rotate(0deg) !important;
        /* Chrome, Safari, Opera */
        transform: rotate(0deg) !important; }
        .mainmenu ul li i.fa-caret-up.collapsed {
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          -ms-transform: rotate(-180deg) !important;
          /* IE 9 */
          -webkit-transform: rotate(-180deg) !important;
          /* Chrome, Safari, Opera */
          transform: rotate(-180deg) !important; }
        .mainmenu ul li i.fa-caret-down.collapsed {
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          -ms-transform: rotate(180deg) !important;
          /* IE 9 */
          -webkit-transform: rotate(180deg) !important;
          /* Chrome, Safari, Opera */
          transform: rotate(180deg) !important; }
        .mainmenu ul li i li {
          border: none; }
      .mainmenu ul li span {
        padding: 10px 15px;
        display: block;
        border-bottom: 1px solid #666; }
        .mainmenu ul li span.focussed, .mainmenu ul li span:hover {
          cursor: pointer;
          background: rgba(231, 76, 60, 0.3); }
      .mainmenu ul li a {
        color: #FFFFFF;
        font-size: 14px;
        width: 100%;
        display: block;
        text-decoration: none; }
        .mainmenu ul li a:focus {
          outline: 0px;
          border: 0px; }
    .mainmenu ul .current span {
      background-color: #E74C3C; }
      .mainmenu ul .current span:hover {
        background-color: #E74C3C; }
      .mainmenu ul .current span.focussed {
        cursor: pointer;
        background: rgba(231, 76, 60, 0.3); }

*:focus {
  outline: none; }

.control-label {
  padding-top: 10px; }

.form-control {
  border: 2px solid #CCCCCC; }
  .form-control:hover {
    background: #F5F5F5; }
  .form-control::selection {
    color: #FFFFFF;
    background: #E74C3C; }

.btn {
  margin-top: 0px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 4px solid #CCC;
  background: #EEEEEE; }
  .btn:active, .btn.active {
    margin-top: 4px !important;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC !important; }
  .btn:hover {
    margin-top: -1px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 5px solid #CCC; }
  .btn.animated {
    -webkit-transition: margin-top 0.15s ease-out, border-bottom 0.15s ease-out;
    -moz-transition: margin-top 0.15s ease-out, border-bottom 0.15s ease-out;
    -o-transition: margin-top 0.15s ease-out, border-bottom 0.15s ease-out;
    transition: margin-top 0.15s ease-out, border-bottom 0.15s ease-out; }
  .btn.btn-primary {
    border-color: #E74C3C;
    background: #FFFFFF;
    color: #000000; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      border-color: #E74C3C;
      background: #eb6f62;
      color: #FFFFFF; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      border-color: #E74C3C;
      background: #cf4436;
      color: #FFFFFF; }

.select2-container--default.select2-container {
  height: 34px; }
  .select2-container--default.select2-container .select2-selection--single {
    height: 34px; }
  .select2-container--default.select2-container .select2-selection--single .select2-selection__arrow {
    top: 4px; }
.select2-container--default .select2-selection {
  border: 2px solid #CCCCCC; }
.select2-container--default .select2-selection.select2-selection--single {
  border: 2px solid #CCCCCC;
  padding-left: 5px; }
.select2-container--default.select2-container--focus .select2-selection.select2-selection--single {
  border: 2px solid #46b8da; }
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 2px solid #CCCCCC !important;
  border-radius: 4px;
  padding-left: 7px; }
  .select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
    border-color: #46b8da !important;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4); }
.select2-container--default .select2-dropdown {
  border: 2px solid #CCCCCC; }
.select2-container--default .select2-results__options .select2-results__option {
  padding: 6px 12px;
  background-color: #FFFFFF;
  color: #000000; }
.select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
  background-color: #DDDDDD;
  color: #000000; }
.select2-container--default .select2-results__options .select2-results__option--highlighted[aria-selected] {
  background-color: #46b8da;
  color: #000000; }

.cke, .cke_bottom, .cke_top {
  background: #EEE !important; }

.cke_toolbox .cke_toolgroup {
  padding: 0px;
  background: none;
  border-top: 0px; }
  .cke_toolbox .cke_toolgroup a.cke_button {
    position: relative;
    top: 0px;
    background: #FFFFFF;
    padding: 4px 8px;
    border-bottom: 2px solid #CCC; }
    .cke_toolbox .cke_toolgroup a.cke_button:hover, .cke_toolbox .cke_toolgroup a.cke_button.cke_button_on {
      cursor: pointer;
      top: 2px;
      background: #E74C3C;
      color: #FFFFFF;
      border-bottom: 2px solid #EEE; }
    .cke_toolbox .cke_toolgroup a.cke_button.cke_button_on:hover {
      background: rgba(231, 76, 60, 0.6);
      color: #FFFFFF; }
    .cke_toolbox .cke_toolgroup a.cke_button.cke_button_disabled {
      top: 2px;
      background: #FFFFFF;
      border-bottom: 2px #FFFFFF; }
      .cke_toolbox .cke_toolgroup a.cke_button.cke_button_disabled:hover {
        cursor: not-allowed; }
  .cke_toolbox .cke_toolgroup .cke_button_label:hover {
    cursor: pointer; }

.cke_inner .cke_contents {
  border: 2px solid #CCCCCC; }

.cke_focus .cke_contents {
  border: 2px solid #46b8da;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4); }
.cke_focus.cke_textarea_inline {
  border: 2px solid #46b8da;
  border-radius: 4px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4); }

.has-error .form-control {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: error-shake;
  animation-name: error-shake;
  border-color: #FF0000 !important; }
  .has-error .form-control:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 0, 0, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 0, 0, 0.4); }

.has-success .form-control {
  border-color: #CCCCCC; }
  .has-success .form-control:focus {
    border-color: #46b8da;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4); }

.form-control:focus {
  border: 2px #46b8da solid;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(70, 184, 218, 0.4); }

input[type=submit].btn:focus, input[type=button].btn:focus, a.btn:focus {
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: none; }

html.js .hamburger-icon {
  display: inline-block;
  padding: 12px 10px;
  transition: 0.35s;
  cursor: pointer;
  user-select: none;
  border-radius: 5px; }
  html.js .hamburger-icon:hover {
    opacity: 1; }
  html.js .hamburger-icon:active {
    transition: 0s;
    background: rgba(0, 0, 0, 0.1); }
  html.js .hamburger-icon .lines {
    display: inline-block;
    width: 35px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 2.5px;
    transition: 0.35s;
    position: relative;
    /*create the upper and lower lines as pseudo-elements of the middle line*/ }
    html.js .hamburger-icon .lines:before, html.js .hamburger-icon .lines:after {
      display: inline-block;
      width: 35px;
      height: 5px;
      background: #FFFFFF;
      border-radius: 2.5px;
      transition: 0.35s;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 2.5px center;
      -ms-transform-origin: 2.5px center; }
    html.js .hamburger-icon .lines:before {
      top: 8.85px; }
    html.js .hamburger-icon .lines:after {
      top: -8.75px; }
  html.js .hamburger-icon.open .lines:before, html.js .hamburger-icon.open .lines:after {
    top: 0;
    width: 19.44444px; }
  html.js .hamburger-icon.open .lines:before {
    transform: rotate3d(0, 0, 1, 40deg);
    -ms-transform: rotate3d(0, 0, 1, 40deg); }
  html.js .hamburger-icon.open .lines:after {
    transform: rotate3d(0, 0, 1, -40deg);
    -ms-transform: rotate3d(0, 0, 1, -40deg); }

.xs-text-left {
  text-align: left; }

@media (min-width: 768px) {
  .xs-text-left {
    text-align: center; } }

.hidden-xxs {
  display: none; }

.visible-xxs {
  display: block; }

@media (min-width: 500px) {
  .hidden-xxs {
    display: block; }
  .visible-xxs {
    display: none; } }

@media (max-width: 768px) {
  .content-area .content {
    left: 0px;
    -webkit-transition: left 0.35s;
    -moz-transition: left 0.35s;
    -o-transition: left 0.35s;
    transition: left 0.35s; }
    .content-area .content.open {
      left: 250px; }
  .content-area .mainmenu {
    top: 0px;
    margin-top: 50px; }
  .topbar .brand-area {
    padding-left: 0px; } }
