.event-container {
  margin: 20px;

  .glyphicon {
    font-size: 1.6em;
    padding-right: 5px;
    top: -2px;
    float:left;
  }

  .alert-danger {
    .blinking-icon {
      @include blinking_error;
    }
  }

  .close-alert {
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}