/**
 * Styling used from http://cssdeck.com/labs/better-css-toggle-switches and editted
 */
input.switch:empty {
  opacity: 0;
  z-index: 1;
}

input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 2em;
  text-indent: 4.5em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  font-family: 'FontAwesome';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "\f00d";
  width: 4em;
  text-indent: 2.35em;
  color: #FFF;
  background-color: $button-border-color;
  border-radius: 0.3em;
  border: $input-border-width solid transparent;
  line-height: 1.8em;
}

input.switch:empty ~ label:after {
  content: ' ';
  width: 1.8em;
  top: 0.15em;
  bottom: 0.1em;
  text-align: center;
  text-indent: 0;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  border-bottom: $input-border-width solid mix( $button-bg-color, #000, 70% );
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch.switch-circle ~ label:before,
input.switch.switch-circle ~ label:after {
  border-radius: 2em;
  border-bottom: $input-border-width solid transparent;
}

input.switch:empty ~ label:before {
  border-color: $button-border-color;
}

/* toggle on */
input.switch:checked ~ label:before {
  content: "\f00c";
  text-indent: 0.5em;
  color: #FFF;
  background-color: $brand-success;
  border-color: $brand-success;
  line-height: 1.8em;
}

@include switch-brand( ".switch-primary", $brand-primary );
@include switch-brand( ".switch-warning", $brand-warning );
@include switch-brand( ".switch-danger", $brand-danger );
@include switch-brand( ".switch-success", $brand-success );
@include switch-brand( ".switch-info", $brand-info );

@include switch-icon( ".switch-lock", "\f13e", "\f023");
@include switch-icon( ".switch-unlock", "\f023", "\f13e");


input.switch:checked ~ label:after {
  margin-left: 2.05em;
}

/* focus styles */
input.switch:focus ~ label {
  color: #000;
}

input.switch:focus ~ label:before {
  top: 0em;
  border-color: $focus-color;
}

.form-group .switch {
  margin-bottom: 15px;
}