//
// Style uploaded images
//

.uploaded-image-container {
  position: relative;
  width: 85px;

  .remove-uploaded-image {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}