@mixin feedback_button( $border-height ){
  margin-top: 0px;
  border-width: 1px !important;
  border-bottom-width: $border-height !important;

  &:focus {
    border-bottom-width: $border-height !important;
  }

  &:active,
  &.active {
    margin-top: $border-height !important;
    border-bottom-width: 0px !important;
  }

  &:hover {
    margin-top: 0px;
    border-bottom-width: ($border-height + 1);
  }
}

@mixin feedback_button_color( $class, $bordercolor, $textcolor, $textcolor-hover ){
  &#{$class} {
    border-color: $bordercolor;
    background: $button-light-bg-color;
    color: $textcolor;

    &:hover,
    &:focus {
      border-color: $bordercolor;
      background: mix( $bordercolor, #FFF, 80% );
      color: $textcolor-hover;
    }

    &:active,
    &.active {
      border-color: $bordercolor;
      background: mix( $bordercolor, #000, 90%);
      color: $textcolor-hover;
    }
  }
}

.btn {
  @include feedback_button( 4px );
  border-color: $button-border-color;
  background: $button-bg-color;
  color: $button-text-color;

  &:focus {
    outline: none;
    border-color: $button-focus-color;

    &.active,
    &:active {
      background-color: $button-focus-pressed-bg-color;
      color: $button-focus-pressed-text-color;
    }
  }

  &.active,
  &:active {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  &.animated {
    @include button_press_animation;
  }

  @include feedback_button_color(".btn-primary", $brand-color, $button-text-color, $button-light-text-color);
  @include feedback_button_color(".btn-warning", $brand-warning, $button-text-color, $button-text-color);
  @include feedback_button_color(".btn-danger", $brand-danger, $button-text-color, $button-light-text-color);
  @include feedback_button_color(".btn-info", $brand-info, $button-text-color, $button-text-color);
  @include feedback_button_color(".btn-success", $brand-success, $button-text-color, $button-light-text-color);

}
