.has-error {
  .form-control {
    @include shiver-animation;

    border-color: $error_color !important;
    &:focus {
      @include bootstrap-glow( $error-color );
    }
  }
}

.has-success {
  .form-control {
    border-color: $input-border-color !important;

    &:focus {
      border-color: $focus-color !important;
      @include bootstrap-glow( $focus-color );
    }

  }
}

.form-control:focus {
  border: 2px $focus-color solid;
  @include bootstrap-glow( $focus-color );

  &input[type="submit"]
  &input[type="button"] {
    @include disable-bootstrap-glow;
  }
}