$error-color: #FF0000;
$success-color: #00FF00;
$focus-color: #46b8da;
$input-border-color: #CCCCCC;

@mixin disable-glow {
  -webkit-appearance:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin bootstrap-glow( $color ){
  -webkit-appearance:none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba($color, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba($color, 0.4);
}

.has-error {
  .form-control {
    @include shiver-animation;

    border-color: $error_color !important;
    &:focus {
      @include bootstrap-glow( $error-color );
    }
  }
}

.has-success {
  .form-control {
    border-color: $input-border-color !important;

    &:focus {
      border-color: $focus-color !important;
      @include bootstrap-glow( $focus-color );
    }

  }
}

.form-control:focus {
  border: 1px $focus-color solid;
  @include bootstrap-glow( $focus-color );

  &input[type="submit"]
  &input[type="button"] {
    @include disable-glow;
  }
}