// Chrome orange outline fix
*:focus {
  outline: none;
}

.control-label {
  padding-top: 10px;
}

.form-control {
  border: 2px solid $input-border-color;

  &:hover {
    background: #F5F5F5;
  }

  &::selection {
    color: #FFFFFF;
    background: $brand-color;
  }
}

.btn {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 2px;
  border-bottom: 4px solid $input-border-color;
  background: #EEEEEE;

  &:active {
    padding-top: 4px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid $input-border-color;
  }

  &:hover {
    padding-top: 4px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid $input-border-color;
  }

  &:focus {
    border-color: #CCCCCC;
    color: $focus-text-color;
    background: $focus-color !important;
    @include disable-bootstrap-glow;
  }
}

@import 'form.styling.select2';
@import 'form.styling.ckeditor';