.btn {
  @include feedback_button( $input-border-width * 2 );
  border-color: $button-border-color;
  background: $button-bg-color;
  color: $button-text-color;
  font: $button-font;

  &:focus {
    outline: none;
    border-color: $button-focus-color;

    &.active,
    &:active {
      background-color: $button-focus-pressed-bg-color;
      color: $button-focus-pressed-text-color;
    }
  }

  &.active,
  &:active {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  &.animated {
    @include button_press_animation;
  }

  @include feedback_button_brand(".btn-primary", $brand-primary, mix($brand-primary, #000, 80%), $button-light-text-color);
  @include feedback_button_brand(".btn-warning", $brand-warning, mix($brand-warning, #000, 80%), $button-text-color);
  @include feedback_button_brand(".btn-danger", $brand-danger, mix($brand-danger, #000, 80%), $button-light-text-color);
  @include feedback_button_brand(".btn-info", $brand-info, mix($button-text-color, #000, 80%), $button-text-color);
  @include feedback_button_brand(".btn-success", $brand-success, mix($brand-success, #000, 80%), $button-light-text-color);

}
