// Chrome orange outline fix
*:focus {
  outline: none;
}

.form-group {
  .btn {
    width: 100%;
  }
}

.form-control {
  border: 2px solid $input-border-color;

  &:hover {
    background: #F5F5F5;
  }

  &::selection {
    color: #FFFFFF;
    background: $brand-color;
  }
}

@import 'form.styling.buttons';
@import 'form.styling.select2';
@import 'form.styling.ckeditor';