@mixin scroll-without-scrollbar {
  overflow-y:scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}

@mixin menu-inset-shadow {
  -moz-box-shadow: 0px 3px 3px 0px $menu-shadow-color inset;
  -webkit-box-shadow: 0px 3px 3px 0px $menu-shadow-color inset;
  box-shadow: 0px 3px 3px 0px $menu-shadow-color inset;
}

$menu-text-size: 14px;

@media (min-width: 768px){
  .leftmenu {
    float: left;
    position: relative;
    width: 250px;
    height:100%;


    .mainmenu {
      width: 250px;
      left: 0px;
      position: fixed;
      height: 100%;
    }
  }

  .content-area {
    .content {
      float: left;
      padding: 0px 0px 10px 250px;
      width: 100%;
    }
  }

  .content-area:after {
    content: "";
    clear:both;
    visibility: hidden;
    display: block;
    font-size: 0;
    height: 0;

  }
}

.mainmenu {
  @include menu-toggle-animation;
  @include scroll-without-scrollbar;

  background: $menu-bg-color;
  width: 250px;
  left: -250px;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  z-index: 1000;

  &.open {
    left: 0px;
  }

  .current {
    background-color: $brand-color;
  }

  ul {
    list-style: none;
    padding: 0;
    background: $menu-bg-color;

    li {
      display: block;
      color: $menu-text-color;
      font-size: $menu-text-size;
      background: $menu-bg-color;

      ul {
        border-bottom: $menu-divider-color 1px solid;
        li {
          background: $menu-dark-bg-color;

          &.first {
            @include menu-inset-shadow;

            span:hover {
              @include menu-inset-shadow;
            }
          }

          span {
            border-bottom: 1px solid $menu-bg-color;
          }
        }
      }

      i {
        position: absolute;
        right: 10px;
        font-size: 25px;
        @include text-reverse-animation;

        &.fa-caret-up {
          &.collapsed {
            @include text-left-upsidedown-animation;
          }
        }

        &.fa-caret-down {
          &.collapsed {
            @include text-right-upsidedown-animation;
          }
        }

        li {
          border: none;
        }

      }

      span {
        padding: 10px 15px;
        display: block;
        border-bottom: 1px solid $menu-divider-color;

        &:hover {
          cursor: pointer;
          background: $menu-highlight-color;
        }
      }

      a {
        color: $menu-text-color;
        font-size: $menu-text-size;
        width: 100%;
        display: block;
        text-decoration: none;
      }

      &.current {
      }
    }
  }
}