$topbar-height: 50px;

.topbar {
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 10000;

  nav {
    padding-right: 20px;
    background-color: $topbar-bg-color;
  }

  .brand-area {
    color: $brand-text-color;
    font-family: $brand-font-family;
    float: left;

    img {
      margin: 5px 0;
      height: 40px;
    }
  }

  &.animation-topbar-up {
    position: absolute;
  }
}

.topbar .profile .languages {
  padding: 0 5%;
  a {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: inline-block;
    width: 32px;
    opacity: 0.5;

    &:active {
      background-color: $topbar-bg-color;
    }

    &.selected {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}