$logo-image: "../images/logo.png";
$logo-icon: "../images/icon.png";

$brand-primary: #E74C3C;
$brand-color-2: #46b8da;
$brand-color-3: #00FF00;
$brand-color-4: #000FF0;
$brand-color-5: #0000FF;

$brand-text-color: #FFFFFF;
$brand-font-family: Verdana;