$dark-bg-color: #262626;
$darkest-bg-color: #101010;
$dark-bg-hover-color: #333333;
$dark-bg-highlight-color: #444444;
$dark-bg-selected-color: #666;
$light-color: #FFFFFF;

// Topbar colours
$topbar-bg-color: $dark-bg-color;
$hamburger-icon-line-color: $light-color;

// Menu colours
$menu-bg-color: $dark-bg-color;
$menu-dark-bg-color: $darkest-bg-color;
$menu-shadow-color: #000000;
$menu-selected-color: $dark-bg-selected-color;
$menu-highlight-color: $brand-color-faded;
$menu-text-color: $light-color;
$menu-divider-color: $dark-bg-selected-color;

// Profile colours
$profile-text-color: $light-color;
$profile-bg-color: $dark-bg-color;
$profile-options-bg-color: $dark-bg-color;
$profile-options-divider-color: $dark-bg-highlight-color;
$profile-options-hover-color: $brand-color;
$profile-options-selected-color: $brand-color;
$profile-options-text-color: $profile-text-color;
$profile-options-icon-color: $profile-options-text-color;

// Form styling
$error-color: #FF0000;
$error-text-color: $light-color;
$success-color: #00FF00;
$success-text-color: $light-color;
$focus-color: $brand-color-2;
$focus-text-color: $brand-text-color;
$input-border-color: #CCCCCC;

// Select2 styling
$select2-text-color: #000000;
$select2-hover-text-color: #000000;
$select2-selected-text-color: #000000;
$select2-bg-color: #FFFFFF;
$select2-selected-bg-color: #DDDDDD;
$select2-hover-bg-color: $brand-color;
