@import 'components/hamburger-icon.scss';

.xs-text-left {
  text-align: left;
}

@media (min-width: 768px) {
  .xs-text-left {
    text-align: center;
  }
}

.hidden-xxs-inline,
.hidden-xxs {
  display: none;
}

.visible-xxs-inline {
  display: inline-block;
}

.visible-xxs {
  display: block;
}

@media (min-width: 500px ) {
  .hidden-xxs {
    display: block;
  }

  .hidden-xxs-inline {
    display: inline-block;
  }

  .visible-xxs-inline,
  .visible-xxs {
    display: none;
  }
}


@media (max-width: 768px ){
  .content-area {
    .content {
      left: 0px;
      @include  menu-toggle-animation;

      &.open {
        left: 250px;
      }
    }

    .mainmenu {
      top: 0px;
      margin-top: 50px;
    }
  }

  .topbar .brand-area {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {

  .vcenter_sm_parent {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.no-r-c-right {
  @include no-rounded-corners-right;
}

.no-r-c-left {
  @include no-rounded-corners-left;
}

@media (min-width: 769px){
  .no-r-c-left-xs {
    @include no-rounded-corners-right;
  }

  .no-r-c-right-xs {
    @include no-rounded-corners-left;
  }
}

@media (max-width: 768px) {
  .no-r-c-right-xs {
    @include no-rounded-corners-right;
  }

  .no-r-c-left-xs {
    @include no-rounded-corners-left;
  }
}