$brand-color: #7FC94C;
$brand-color-faded: rgba($brand-color, 0.3);
$brand-color-2: #0FF000;
$brand-color-3: #00FF00;
$brand-color-4: #000FF0;
$brand-color-5: #0000FF;

$brand-text-color: #FFFF00;
$brand-font-family: Verdana;