$quali-bg-color: #7FC94C;
$quali-text-color: #FFFF00;

$dark-bg-color: #222222;
$dark-bg-hover-color: #333333;
$dark-bg-highlight-color: #444444;
$dark-bg-selected-color: #666;
$light-color: #FFFFFF;

// Topbar colours
$topbar-bg-color: $quali-bg-color;
$hamburger-icon-line-color: $light-color;

// Menu colours
$menu-bg-color: $dark-bg-color;
$menu-selected-color: $dark-bg-selected-color;
$menu-highlight-color: $dark-bg-selected-color;
$menu-divider-color: $menu-highlight-color;
$menu-text-color: $quali-text-color;

// Profile colours
$profile-text-color: $light-color;
$profile-bg-color: $dark-bg-color;
$profile-options-bg-color: $dark-bg-color;
$profile-options-divider-color: $dark-bg-highlight-color;
$profile-options-hover-color: $dark-bg-highlight-color;
$profile-options-selected-color: $dark-bg-selected-color;
$profile-options-text-color: $quali-text-color;
$profile-options-icon-color: $profile-options-text-color;